
.con
{
    margin-left: 60px;
    width: 94%;
    height: 90%;
    background-color:white;
}
.barra{
    float: left;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 30px;
    margin-left: 15px;
    top: 10px;
}

.tittle .logoiea{
    margin-top: 55px;
    margin-left: 30px;
    width: 70%;
    height: 80px;
}

.tittle{
    height: 110px;
    margin-top: 35px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: #8a87873b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.indicadores{
    float: left;
    height: 100px;
    width: 300px;
    background-color: rgb(66, 26, 145);
}

.quienessomos{
margin-top: 150px;
height: 200px;
width: 95.5%;
padding-left: 30px;
padding-right: 30px;
text-align: justify;
padding-top: 20px;
font-size: 18px;
line-height: 2.2em;
}

h2{
    font-size: 20px;
    margin-bottom: 0;
}
