.navbar{
    
    background: rgb(247, 247, 247);
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; 
    box-sizing: border-box;
    box-shadow: 0px 7px 39px 11px rgba(61, 84, 152, 0.919);
    -webkit-box-shadow: 0px 5px 30px 6px rgba(192, 188, 234, 0.608);
    -moz-box-shadow: 0px 17px 89px 60px rgba(61, 49, 49, 0.339);

}

.nav_logo{
    /*font-weight: bold; */
    font-size: 20px;
    margin: 5px;
    color: black;
    top: 40px;
    
}
.logo{
    height: 60px;
    width: 65px;
    margin-left: 50px;
    margin-top: 10px;
}

.nav_title{
    position: relative;
    float: right;
    width: 280px;
    top: 15px;
    text-align: center;
    color:  rgb(3, 21, 71);
    font-size: 22px;
    font-weight: bold;
}

.nav_title p{
        font-weight: bold;
        color: rgb(9, 37, 116);
        text-decoration: underline rgb(255, 0, 153) 3px;
    
}


.nav_items a{
    margin: 15px;
    margin-right: 45px;
    top: 45px;
    color: rgb(2, 8, 48);
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transition: 0.25s ease;
}

a:hover{
    font-weight: bold;
    font-size: 17px;
    box-shadow: 8px 7px 20px 10px rgba(80, 80, 80, 0.2);
    text-shadow: #ffffff 1px 0 10px;
    border-radius: 10px;
    background-color: #e5b07c;
    color: #000000;
    padding: 2px;
}
i{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.nav_items a::before,
.nav_items  a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-image: -webkit-linear-gradient(
        0deg,
        #f85c9f 0%,
        #e3ea0f 46%,
        #70dcbf 86%

    );
    transition: .5s;
}

a::after{
    left: 0;
    bottom: -10px;

}
a::before{
    right: 0;
    top: -10;

}
a:hover::after,
a:hover::before{
    width: 100%;
    margin-top: -10px;
}

.nav_toggle{
    display: none;
}

@media(max-width: 750px){
    .nav_items{
        position: absolute;
        top: 90px;
        background-color: rgba(32, 36, 48, 0.944);
        left:0%;
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 100%;
        height:300px;
        padding-bottom: 20px;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav_items a{
        color: white;
        left: 8%;
    }

    .nav_items.open{
        transform: translateX(0) !important
    }

    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_toggle span{
        width: 30px;
        height: 4px;
        background: rgb(0, 0, 0);
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
    }
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }

}